.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
server/node_modules/**
!server/node_modules/uroborosql-fmt-napi/**
client/out/**
!client/out/extension.js
server/out/**
!server/out/server.js
server/uroborosql-fmt-napi-*.tgz
esbuild.mjs
