name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Release
    if: github.repository == 'future-architect/vscode-uroborosql-fmt'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4

      - name: Install Dependencies
        run: yarn

      - name: Create Release Pull Request
        id: changesets
        # v1.5.0 以降、custom release スクリプトを使っているケースでローカル tag が作成されなくなった
        # 当座の回避策として v1.4.10 に固定する
        # ref: https://github.com/changesets/action/issues/465
        uses: changesets/action@v1.5.3
        with:
          publish: npm run dummy-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      changesets_published: ${{ steps.changesets.outputs.published }}
  invoke_publish:
    needs: [release]
    if: ${{ success() && needs.release.outputs.changesets_published == 'true'}}
    uses: ./.github/workflows/publish.yml
    secrets: inherit
